<div ng-hide="showdifferenceResult">

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-2">

                <h1>Sample:</h1>

            </div>

            <div class="col-lg-3">

                <h1>Time:</h1>

            </div>

            <div class="col-lg-3">

                <h1>Find Here:</h1>

            </div>

        </div>

        <img src="img/red.40319_640.png" id="marker1" style="display: none; position: absolute;">
        <img src="img/red.40319_640.png" id="marker2" style="display: none; position: absolute;">
        <img src="img/red.40319_640.png" id="marker3" style="display: none; position: absolute;">
        <img src="img/red.40319_640.png" id="marker4" style="display: none; position: absolute;">
        <img src="img/red.40319_640.png" id="marker5" style="display: none; position: absolute;">
        <img src="img/red.40319_640.png" id="marker6" style="display: none; position: absolute;">
        <img src="img/red.40319_640.png" id="marker7" style="display: none; position: absolute;">
        <img src="img/red.40319_640.png" id="marker8" style="display: none; position: absolute;">
        <img src="img/red.40319_640.png" id="marker9" style="display: none; position: absolute;">
        <img src="img/red.40319_640.png" id="marker10" style="display: none; position: absolute;">



        <div class="row jumbotron" style="margin-top: 2%">
            <div class="col-lg-3">
                <img src="img/grany1.png"/>

            </div>
            <div class="col-lg-3 col-lg-offset-2">
                <h1>{{myStopwatch.data.min}}:{{myStopwatch.data.value}}</h1>
            </div>



            <img src="img/grany2.png" id="map" usemap="#grany" style="margin-left: 700px; margin-top: -413px"/>



        </div>
    </div>
</div>

<map name="grany">


    <area
            shape="circle"
            coords="110,25,10"
            target="_self"
            ng-click="checkThree()"
            onclick="area1('#marker1',event)"


            />

    <area
            shape="rect"
            coords="70,110,80,120"
            target="_self"
            ng-click="checkThree()"
            onclick="area1('#marker2',event)"

            />

    <area
            shape="rect"
            coords="300,140,320,160"
            target="_self"
            ng-click="checkThree()"
            onclick="area1('#marker3',event)"


            />

    <area
            shape="rect"
            coords="310,80,325,95"
            target="_self"
            ng-click="checkThree()"
            onclick="area1('#marker4',event)"


            />
    <area
            shape="rect"
            coords="340,300,350,320"
            target="_self"
            ng-click="checkThree()"
            onclick="area1('#marker5',event)"


            />
    <area
            shape="rect"
            coords="270,350,300,375"
            target="_self"
            ng-click="checkThree()"
            onclick="area1('#marker6',event)"


            />
    <area
            shape="rect"
            coords="265,230,280,240"
            target="_self"
            ng-click="checkThree()"
            onclick="area1('#marker7',event)"


            />
    <area
            shape="rect"
            coords="235,246,245,255"
            target="_self"
            ng-click="checkThree()"
            onclick="area1('#marker8',event)"


            />
    <area
            shape="rect"
            coords="80,340,109,360"
            target="_self"
            ng-click="checkThree()"
            onclick="area1('#marker9',event)"


            />
    <area
            shape="rect"
            coords="220,145,230,160"
            target="_self"
            ng-click="checkThree()"
            onclick="area1('#marker10',event)"


            />
</map>
<div ng-show="showdifferenceResult">
    <div class="jumbotron" style="background-color: green; color: #ffffff; text-align: center; margin-top: 5%;">
        <h1 style="font-family: cursive">Congratulation..!</h1>
        <br>
        <h2 style="font-family: cursive">You have completed the level in {{differenceOneTime}} minutes</h2>
        <br>



        <div id="lastLevel">
            <button class="btn btn-primary" ng-show="buttonShow" ng-click="changeDifferenceUrl()">Next Level</button>
            <button class="btn btn-primary" ng-hide="buttonShow" ng-click="changeDifferenceUrl(2)">Home</button>
        </div>

    </div>
</div>


<script>


    function area1(image,e)
    {

        $(image).css('left', e.pageX-12).css('top', e.pageY-12).show();
        // Position of the marker is now e.pageX, e.pageY
        // ... which corresponds to where the click was.
    };

</script>
