

<!--All Pages-->


<div id="mcqs" class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">MCQs</h2>
                <p class="lead">Try your IQ level by taking a test in different fields to enhance your knowledge. Plus you can also
                    create your own Quiz by setting time and number of questions. Result will be stored which can be viewed
                    later, Multiplayer facility is also provided so that you can compare your IQ with other person as well.
                    Have fun!</p>


                <a href="#mcqsPage" style="text-decoration: none">
                    <div class="main clearfix">
                        <div class="circle">
                            <h1>Take Test</h1>
                        </div>
                    </div>
                </a>


            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/Mcq.png" alt="">
            </div>
        </div>



    </div>
    <!-- /.container -->

</div>


<div id="games" class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Games</h2>
                <p class="lead">"Life is more fun if you play games.”
                    ― Roald Dahl
                    <br>
                    Play exciting games and solve puzzles to test your IQ in gaming world.

                    Multi users can play together to compare their intelligence afterwards by
                    seeing your result in different formats. Have fun!</p>

                <a href="#gamesPage" style="text-decoration: none" ng-click="games=1">
                    <div class="main clearfix">
                        <div class="circle">
                            <h1>Take Test</h1>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/GameImage.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>





<!--modal-->
<!--
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Select the game mode:</p>
                <input type="radio" name="player" ng-click="gamePlayer=true"/>
                Single Mode
                <input type="radio" name="player" ng-click="gamePlayer=true"/>
                Double Mode
                <hr/>
                <div ng-if="gamePlayer==false">
                    Name: <input type="text"/>

                </div>
                <div ng-if="gamePlayer==true">
                    <span style="border-right: solid 1px black">
                    Name: <input type="text"/>
                    </span>
                    Name: <input type="text"/>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               <form action="#puzzle.html"> <button type="button" class="btn btn-primary" data-dismiss="modal">Start Game</button></form>
            </div>
        </div>
    </div>
</div>


-->
